/* *****COLOR PALETTE*****
Extra White - #EEF1EA
Clary Sage - #AAB097
Plum Brown - #4C4442
Surfer - #22A0A6
Tricorn Black - #2D2D2D

******FONTS********
font-family: 'Gruppo', cursive;
font-family: 'Fredericka the Great', cursive; */


body {
    background: #EEF1EA;
    color: #2D2D2D;
}

.jumbotron {
    background: #AAB097;
}

.navbar {
    background: #4C4442;
}

.navbar-default .navbar-nav>li>a {
    color: #EEF1EA;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #22A0A6;
}

.navbar-default .navbar-brand {
    color: #EEF1EA;
}

.navbar-default .navbar-brand:hover {
    color: #22A0A6;
}

.btn {
    background: #22A0A6;
}

.btn:hover {
    background: #31908a;
}

li {
  margin-bottom: 15px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

margin-top-20 {
  margin-top: 20px;
}

footer {
  margin-top: 30px;
  border-top: 1px solid black;
}

.no-bullets {
  list-style-type: none;
}

.border-top {
  border-top: 1px solid black;
  padding-top: 15px;
}

.blurb {
    min-height: 375px;
}

nav {
    height: 55px;
}
