/* *****COLOR PALETTE*****
Extra White - #EEF1EA
Clary Sage - #AAB097
Plum Brown - #4C4442
Surfer - #22A0A6
Tricorn Black - #2D2D2D*/

body {
    background: #EEF1EA;
    color: #2D2D2D;
    font-family: 'Cardo', serif;
}

a {
    color: #2d2d2d;
}

a:hover {
    color: #22a0a6;
}

.jumbotron {
    background: #AAB097;
}

.navbar {
    background: #4C4442;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.navbar-default .navbar-nav>li>a {
    color: #EEF1EA;
    padding: 15px 40px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #22A0A6;
}

.navbar-default .navbar-brand {
    color: #EEF1EA;
}

.navbar-default .navbar-brand:hover {
    color: #22A0A6;
}

.btn {
    background: #22A0A6;
}

.btn:hover {
    background: #31908a;
}

li {
  margin-bottom: 15px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-75 {
  margin-top: 75px;
}

.margin-right-40 {
  margin-right: 40px;
}

.margin-left-40 {
  margin-left: 40px;
}

.margin-left-60 {
  margin-left: 60px;
}

.margin-left-80 {
  margin-left: 80px;
}

footer {
  margin-top: 30px;
  border-top: 1px solid black;
}

.no-bullets {
  list-style-type: none;
}

.border-top {
  border-top: 1px solid black;
  padding-top: 15px;
}

.blurb {
    min-height: 375px;
}

nav {
    height: 55px;
}

.satisfy-font {
    font-family: 'Satisfy', cursive;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-26 {
    font-size: 26px;
}

.center{
    width:400px;
    margin:0 auto;
    text-align:left;
}

.dropdown-menu {
    background: #4C4442;
}

.dropdown-menu>li>a {
    color: #EEF1EA;
}

.teal {
    color: #22A0A6;
}
