li {
  margin-bottom: 15px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

margin-top-20 {
  margin-top: 20px;
}

footer {
  margin-top: 30px;
  border-top: 1px solid black;
}

.no-bullets {
  list-style-type: none;
}

.border-top {
  border-top: 1px solid black;
  padding-top: 15px;
}

.blurb {
    min-height: 375px;
}

nav {
    height: 55px;
}
